<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bsfc">

    <select id="select" parameterType="Bsfc" resultType="Bsfc">
      SELECT
        `rpm`, `engine_load` AS 'engineLoad',
        `rpm_change` AS 'rpmChange', `el_change` AS 'elChange',
        `level`
      FROM
        `bsfc`
      WHERE
        `rpm` = #{rpm}
      AND
        `engine_load` = #{engineLoad}
    </select>
    
</mapper>
