<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="drive">


    <insert id="insertDriving" parameterType="Driving">
        INSERT INTO
          `driving`
          ( `id`,`fuelBillPn`, `distance`, `fuelQuantity`, `inputDate` )
        VALUES
          ( #{id}, #{fuelBillPn}, #{distance}, #{fuelQuantity}, SYSDATE() )
    </insert>
    
    <insert id="insertDrivePoint" parameterType="DrivePoint">
        INSERT INTO
          `drive_point`
          ( `id`, `latitude`, `longitude`, `startSpeed`, `endSpeed`, `inputDate`, `type` )
        VALUES
          ( #{id}, #{latitude}, #{longitude}, #{startSpeed}, #{endSpeed}, SYSDATE(), #{type} )
    </insert>
    
    <insert id="insertGpsPosition" parameterType="GpsPosition">
        INSERT INTO
          `gps_position`
          ( `id`, `latitude`, `longitude`, `time`)
        VALUES
          ( #{id}, #{latitude}, #{longitude}, SYSDATE() )
    </insert>
    
    <select id="selectGpsPositionToday" parameterType="String" resultType="GpsPosition">
        SELECT
          `pn`, `id`, `latitude`, `longitude`, `time`
        FROM
          `gps_position`
        WHERE
          `id` = #{value}
        AND
	      DATE_FORMAT(`time`, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
        ORDER BY
          `pn` DESC
    </select>
    
    <select id="selectDrivingInfo" parameterType="String" resultType="Driving">
        SELECT
          `id`, `fuelBillPn`, `distance`, `fuelQuantity`, `inputDate`
        FROM
          `driving`
        WHERE
          `id` = #{id}
    </select>
    
    <select id="selectDrivePoint" parameterType="String" resultType="DrivePoint">
        SELECT
          `id`, `latitude`, `longitude`, `startSpeed`, `endSpeed`, `inputDate`, `type`
        FROM
          `drive_point`
        WHERE
          `id` = #{id}
    </select>
    
    <select id="selectDrivingFromFuelBillPn" parameterType="Integer" resultType="Driving">
        SELECT
          `id`, `fuelBillPn`, `distance`, `fuelQuantity`, `inputDate`
        FROM
          `driving`
        WHERE
          `fuelBillPn` = #{fuelBillPn}
        ORDER BY
          `inputDate` ASC
    </select>
    
    <select id="selectPositionCount" parameterType="DrivePointFilter" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            `drive_point`
        WHERE
            `id` = #{id}
        AND
            DATE_FORMAT(`inputDate`, '%Y-%m-%d') BETWEEN #{endDate} AND #{startDate}
    </select>
    
    <select id="selectPosition" parameterType="DrivePointFilter" resultType="DrivePoint">
        SELECT
            `latitude`, `longitude`, `startSpeed`, `endSpeed`, `type`
        FROM
            `drive_point`
        WHERE
            `id` = #{id}
        AND
            DATE_FORMAT(`inputDate`, '%Y-%m-%d') BETWEEN #{endDate} AND #{startDate}
        ORDER BY
            `inputDate` DESC
        LIMIT #{pagination.itemSeqBegin}, #{pagination.numItemsPerPage}
    </select>
    
    <select id="selectPositionOther" parameterType="OtherDrivePointFilter" resultType="DrivePoint">
        SELECT
          `latitude`, `longitude`, `startSpeed`, `endSpeed`, `type`
        FROM
          `drive_point`
        WHERE
          `id` != #{id}
        AND
          `latitude` != 0
        AND
          `longitude` != 0
        AND
          `latitude` BETWEEN #{latitude} - 0.01 AND #{latitude} + 0.01
        AND
          `longitude` BETWEEN #{longitude} - 0.01 AND #{longitude} + 0.01
        AND
          `startSpeed` != 0
        AND
          `endSpeed` != 0
        <![CDATA[
        AND
          (TO_DAYS( NOW( ) ) - TO_DAYS(`inputDate` ) -7 ) < 0
        ]]>
        ORDER BY
          `inputDate` DESC
    </select>
    
</mapper>
