<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="drive">


    <insert id="insertDriving" parameterType="Driving">
        INSERT INTO
          `driving`
          ( `id`,`fuelBillPn`, `distance`, `fuelQuantity`, `inputDate` )
        VALUES
          ( #{id}, #{fuelBillPn}, #{distance}, #{fuelQuantity}, SYSDATE() )
    </insert>
    
    <insert id="insertDrivePoint" parameterType="DrivePoint">
        INSERT INTO
          `drive_point`
          ( `id`, `latitude`, `longitude`, `startSpeed`, `endSpeed`, `inputDate` )
        VALUES
          ( #{id}, #{latitude}, #{longitude}, #{startSpeed}, #{endSpeed}, SYSDATE() )
    </insert>
    
    <select id="selectDrivingInfo" parameterType="String" resultType="Driving">
        SELECT
          `id`, `fuelBillPn`, `distance`, `fuelQuantity`, `inputDate`
        FROM
          `driving`
        WHERE
          `id` = #{id}
    </select>
    
    <select id="selectDrivePoint" parameterType="String" resultType="DrivePoint">
        SELECT
          `id`, `latitude`, `longitude`, `startSpeed`, `endSpeed`, `inputDate`
        FROM
          `drive_point`
        WHERE
          `id` = #{id}
    </select>
    
    <select id="selectDrivingFromFuelBillPn" parameterType="Integer" resultType="Driving">
        SELECT
          `id`, `fuelBillPn`, `distance`, `fuelQuantity`, `inputDate`
        FROM
          `driving`
        WHERE
          `fuelBillPn` = #{fuelBillPn}
        ORDER BY
          `inputDate` ASC
    </select>
    
    <select id="selectPositionCount" parameterType="DrivePointFilter" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            `drive_point`
        WHERE
            `id` = #{id}
        AND
            DATE_FORMAT(`inputDate`, '%Y-%m-%d') BETWEEN #{endDate} AND #{startDate}
    </select>
    
    <select id="selectPosition" parameterType="DrivePointFilter" resultType="DrivePoint">
        SELECT
            `latitude`, `longitude`, `startSpeed`, `endSpeed`
        FROM
            `drive_point`
        WHERE
            `id` = #{id}
        AND
            DATE_FORMAT(`inputDate`, '%Y-%m-%d') BETWEEN #{endDate} AND #{startDate}
        ORDER BY
            `inputDate` DESC
        LIMIT #{pagination.itemSeqBegin}, #{pagination.numItemsPerPage}
    </select>
    
</mapper>
