<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fuelBill">
    
    <insert id="insert" parameterType="FuelBill">
        INSERT INTO
          `fuel_bill`
          ( `id`, `title`, `bill`, `billDate`)
        VALUES
          ( #{id}, #{title}, #{bill}, SYSDATE() )
    </insert>
    
    <select id="selectMaxFuelBill" parameterType="String" resultType="FuelBill">
        SELECT
          MAX(`pn`) AS `pn`, `id`, `title`, `bill`, `billDate`
        FROM
          `fuel_bill`
        WHERE
          `id` = #{id}
    </select>

</mapper>
