<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.oilMap.server.user.User" alias="User"/>
		<typeAlias type="com.oilMap.server.user.fuel.UserFuel" alias="UserFuel"/>
		
		<typeAlias type="com.oilMap.server.auth.Auth" alias="Auth"/>
		<typeAlias type="com.oilMap.server.drive.Driving" alias="Driving"/>
		<typeAlias type="com.oilMap.server.drive.DrivePoint" alias="DrivePoint"/>
		<typeAlias type="com.oilMap.server.drive.DrivePointFilter" alias="DrivePointFilter"/>
		<typeAlias type="com.oilMap.server.drive.OtherDrivePointFilter" alias="OtherDrivePointFilter"/>
		<typeAlias type="com.oilMap.server.drive.GpsPosition" alias="GpsPosition"/>
		
		<typeAlias type="com.oilMap.server.bill.FuelBill" alias="FuelBill"/>
		
		<typeAlias type="com.oilMap.server.batch.Batch" alias="Batch"/>
		<typeAlias type="com.oilMap.server.batch.Efficiency" alias="Efficiency"/>

		<typeAlias type="com.oilMap.server.batch.Ranking" alias="Ranking"/>
		<typeAlias type="com.oilMap.server.batch.RankingFilter" alias="RankingFilter"/>

		<typeAlias type="com.oilMap.server.bsfc.Bsfc" alias="Bsfc"/>
 	</typeAliases>
</configuration>