<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userFuel">

    <insert id="insert" parameterType="UserFuel">
        INSERT INTO
          `user_fuel`
          ( `userPn`, `displacement`, `cost`, `period`, `updateDate` )
        VALUES
          ( #{userPn}, #{displacement}, #{cost}, #{period}, SYSDATE() )
    </insert>
    
    <update id="update" parameterType="UserFuel">
        UPDATE
          `user_fuel`
        SET
          `displacement` = #{displacement},
          `cost` = #{cost},
          `period` = #{period},
          `updateDate` = SYSDATE()
        WHERE
          `userPn` = #{userPn}
    </update>
    
    <select id="selectOne" parameterType="Integer" resultType="UserFuel">
        SELECT
          `userPn`, `displacement`, `cost`, `period`, `updateDate`
        FROM  
          `user_fuel`
        WHERE
          `userPn` = #{value}
    </select>
    
</mapper>
