<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    
    <!-- User CRUD -->
    <insert id="insert" parameterType="User">
        INSERT INTO
          `user`
          ( `username`, `password`, `email`, `joinDate`, `updateDate`)
        VALUES
          ( #{username}, #{password}, #{email}, SYSDATE(), SYSDATE() )
        <selectKey keyProperty="pn" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    
    <select id="selectOne" parameterType="Integer" resultType="User">
        SELECT
          `pn`, `username`, `password`, `email`, `joinDate`, `updateDate`
        FROM
          `user`
        WHERE
          `pn` = #{value}
    </select>
    
    <update id="updatePassword"  parameterType="User">
        UPDATE
          `user`
        SET
          `password` = #{updatePassword},
          `updateDate` = SYSDATE()
        WHERE
          `pn` = #{pn}
    </update>
    
    <delete id="delete" parameterType="User">
        DELETE
        FROM
          `user`
        WHERE
          `pn` = #{pn}
    </delete>

    <!-- is Exist check -->
    <select id="selectIsExistEmail" parameterType="String" resultType="Integer">
        SELECT
          COUNT(*)
        FROM
          `user`
        WHERE
          `email` = #{value}
    </select>
    
    <select id="selectIsExistUsername" parameterType="String" resultType="Integer">
        SELECT
          COUNT(*)
        FROM
          `user`
        WHERE  
          `username` = #{username}
    </select>
    
    <select id="updateNewPassword" parameterType="User" resultType="User">
        SELECT
          `pn`, `username`, `password`, `email`, `joinDate`, `updateDate`
        FROM
          `user`
        WHERE
          `username` = #{username}
        AND
          `email` = #{email}
    </select>
    
</mapper>
